/* ------------------------------------Normaliser------------------------------- */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

@property --bg-1 { syntax: '<color>'; initial-value: #091A1B; inherits: false; }
@property --bg-2 { syntax: '<color>'; initial-value: #070F11; inherits: false; }
@property --bg-3 { syntax: '<color>'; initial-value: #050A0E; inherits: false; }
@property --bg-4 { syntax: '<color>'; initial-value: #03050A; inherits: false; }

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5; /* 4 */
  -webkit-font-smoothing: antialiased; /* 5 */
  min-height: 100dvh;
  background: radial-gradient(
    in oklab
    ellipse 50vw 130vh at 50vw 90vh,
    var(--bg-1) 5%,
    var(--bg-2) 35%,
    var(--bg-3) 52%,
    var(--bg-4) 70%) fixed;
  transition: --bg-1 2s ease, --bg-2 2s ease, --bg-3 2s ease, --bg-4 2s ease;
}

body.darkened {
  --bg-1: #040D0E;
  --bg-2: #030809;
  --bg-3: #020507;
  --bg-4: #010305;
}



/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ----------------------------------------GLOBAL STYLES ---------------------------------------- */
:root {
  --tarot-gradient: linear-gradient(0.3turn, #359E9D 0%, #704898 42%, #BE83D3 82%, #359E9D 99%);
  --muted-text: #71717A;
  --tarot-card-w: clamp(140px, 7.5vw, 260px);
  --tarot-card-h: clamp(235px, 12.5vw, 435px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
